@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,256&family=Space+Mono&display=swap');

/* Global styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/images/alarm-clock-2806058_960_720.png');
    background-repeat: no-repeat;
    background-size: 380px;
    background-position: center;
    background-color: #cc9c19;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', Spacemono, sans-serif;
    padding: 0 5px 0 5px;
    margin-top: 1em;
}

/* Icon and text styling */
.fas {
    font-size: 3em;
    color: rgb(118, 1, 153);
    margin: 5px;
    padding-top: 35px;
    padding-bottom: 0.5em;
}

h2 {
    font-size: 2.1em;
    font-weight: bolder;
    color: rgb(200, 200, 200);
    text-align: center;
    margin: 10px;
    padding-top: 25px;
}

p {
    font-size: 1em;
    color: rgb(200, 200, 200);
    font-weight: 800;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
}

/* styling for timer and button */
#milliseconds {
    margin-top: 5px;
    color: rgb(200, 200, 200);
    font-size: 160%;
    border: solid 2px rgb(121, 119, 119);
    border-radius: 5px;
    padding: 0 10px 0 10px;
    font-family: "Space mono", Raleway, sans-serif;
}

#start {
    margin-top: 20px;
    font-size: 35px;
    color: rgb(153, 146, 146);
    background-color: rgba(68, 70, 189, 0.774);
    border-radius: 10px;
    box-shadow: #000;
    text-decoration: none;
}

#stop {
    margin-top: 20px;
    font-size: 35px;
    color: rgb(153, 146, 146);
    background-color: rgb(190, 4, 4);
    border-radius: 10px;
    box-shadow: #000;
    text-decoration: none;
}

#reset {
    margin-top: 20px;
    font-size: 35px;
    color: rgb(153, 146, 146);
    background-color: rgb(0, 161, 22);
    border-radius: 10px;
    box-shadow: #000;
    text-decoration: none;
}

div,
button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}