@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,256&family=Space+Mono&display=swap');

/* Global styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/alarm-clock.png');
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: center;
    background-color: rgb(221,185,86);
    font-family: "Space mono", sans-serif;
    padding: 0 5px 0 5px;
    margin-top: 5em;
}

/* Icon and text styling */
.fas {
    font-size: 3em;
    color: rgb(118, 1, 153);
    margin: 5px;
    padding-top: 35px;
    padding-bottom: 0.5em;
}

h2 {
    font-size: 2.2em;
    font-weight: bolder;
    color: rgb(32, 30, 30);
    text-align: center;
    border: solid 0.5px rgb(221,185,86);
    background-color: rgb(221, 185, 86, 0.7);
    border-radius: 20px;
    margin: 10px;
}

p {
    font-size: 1em;
    color: rgb(32, 30, 30);
    font-weight: 800;
    text-align: center;
}

#intro {
    border: solid 0.5px rgb(221,185,86);
    background-color: rgb(221, 185, 86, 0.7);
    border-radius: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: none;
}

/* styling for timer and button */
#milliseconds {
    margin-top: 10px;
    background-color: rgb(221, 185, 86, 0.7);
    color: rgb(32, 30, 30);
    font-size: 180%;
    border: solid 2px rgb(221, 185, 86);
    border-radius: 20px;
    padding: 0 10px 0 10px;
    font-family: "Space mono", Raleway, sans-serif;
}

#start {
    margin-top: 20px;
    padding: 0 10px 0 10px;
    font-size: 35px;
    color: rgb(49, 49, 49);
    background-color: rgb(0, 161, 22);
    border-radius: 20px;
    text-decoration: none;
}

#stop {
    margin-top: 20px;
    padding: 0 10px 0 10px;
    font-size: 35px;
    color: rgb(49, 49, 49);
    background-color: rgb(190, 4, 4);
    border-radius: 20px;
    text-decoration: none;
}

#reset {
    margin-top: 20px;
    padding: 0 10px 0 10px;
    font-size: 35px;
    color: rgb(49, 49, 49);
    background-color: rgb(250, 171, 0);
    border-radius: 20px;
    text-decoration: none;
}

div,
button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rules {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: rgb(32, 30, 30);
    font-size: 75%;
    line-height: 20px;
    background-color: rgb(221, 185, 86, 0.7);
    border-radius: 20px;
    padding: 0 30px 30px 30px;
}

.hidden {
    display: none;
}

@media screen and (min-width: 480px){
    body{
    margin-top: 10em;
    }
}